@import '~iview/src/styles/index.less';

@menu-dark-title: #001529;
@menu-dark-active-bg: #000c17;
@layout-sider-background: #001529;

.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.flex-middle {
    display: flex;
    align-items: center;
}
.ivu-btn + .ivu-btn {
    margin-left: 5px;
}
// Form包含设置了prop的FileUpload，必填样式定义
.ivu-form-item-error input[type=file] + .ivu-btn {
    border: 1px solid #ed4014;
}
.self-page {
    margin-top: 20px;
    text-align: center;
    .ivu-page-total {
        position: absolute;
        margin-right: 16px;
        right: 0;
    }
}